{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include "schedule/components/base_head.html" %}
    <title>{% block page_title %}MuSoc Web{% endblock %}</title>
    {% include "schedule/components/bootstrap_head.html" %}
    {% block css %}{% endblock %}
</head>

<body>
{% include "schedule/components/topnav.html" %}

<div class="container-fluid baseimg-pad">

    {% include "schedule/components/messages.html" %}

    {% block announce %}
        {#  This space can be used for a Jumbotron (as in home.html) or Page Title  #}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% include "schedule/components/quote_block.html" %}

</div>

{% include "schedule/components/bootstrap_js_foot.html" %}

</body>
</html>
