{% extends "schedule/base.html" %}

{% block page_title %}{{ title }} | {{ block.super }}{% endblock %}

{% block announce %}
    <div class="jumbotron">
        <h1 class="display-3 mb-4">Calendar!</h1>
        <h3>{{ month }} {{ year }}</h3>
        <table class="table" style="border-collapse: seperate;">
        	<tbody>
        		<tr>
        			{% for i in daysInWeek %}
        			<td height="100px" align="right" class="border border-dark" style="font-size: 10px; vertical-align: bottom;">
        				{{ i }}
        			</td>
        			{% endfor %}
        		</tr>
        		<tr>
        			{% for j in daysInWeek2 %}
        			<td height="100px" align="right" class="border border-dark" style="font-size: 10px; vertical-align: bottom;">
        				{{ j }}
        			</td>
        			{% endfor %}
        		</tr>
        	</tbody>
        </table>

        <!-- This code displays booking info
        <table class="table table-responsive table-striped">
        	<thead class="thead-inverse">
	        	<tr>
	        		<th>Booked By</th>
	        		<th>Band Name</th>
	        		<th>Time Slot</th>
	        		<th>Time Booked</th>
	        	</tr>
	        </thead>
	        <tbody>
	        	{% for field in output %}
	        	<tr>
	        		<td>
	        			{{ field.created_by }}
	        		</td>
	        		<td>
			        	{{ field.reserved_for }}
		        	</td>
		        	<td>
		        		{{ field.time_slot }}
		        	</td>
		        	<td>
		        		{{ field.creation_date }}
		        	</td>
		        </tr>
		        {% endfor %}
	    	</tbody>
        </table>
    	-->
    </div>
{% endblock %}