{% extends "schedule/base.html" %}

{% block page_title %}{{ title }} | {{ block.super }}{% endblock %}

{% block announce %}
    <div class="jumbotron">
        <h1 class="display-4 mb-4">Calendar!</h1>
        <h3>{{ month }} {{ year }}</h3>
            <div id="weekAccordion" role="tablist">
                <div class="card">
                    <div class="card-header" role="tab" id="headingOne">
                        <h5 class="mb-0">
                            <a data-toggle="collapse" href="#weekOne" aria-expanded="false" aria-controls="weekOne">
                                Week 1
                            </a>
                        </h5>
                    </div>

                    <div id="weekOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="weekAccordion">
                        <div class="card-body">
                            <table class="table table-responsive">
                                <tbody>
                                    <tr>
                                        {% for i in dayNames %}
                                        <th>
                                            {{ i }}
                                        </th>
                                        {% endfor %}
                                    </tr>
                            		<tr>
                            			{% for i in daysInWeek %}
                            			<td class="border border-dark">
                            				<div align="right" style="font-size: 10px; font-weight: bold;">
                                                {{ i }}
                                            </div>
                                            <table class="table">
                                                <tbody>
                                                    {% for l in bookingHours %}
                                                    <tr>
                                                        <td>
                                                            {{ l }}
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                            			</td>
                            			{% endfor %}
                            		</tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" role="tab" id="headingTwo">
                        <h5 class="mb-0">
                            <a data-toggle="collapse" href="#weekTwo" aria-expanded="false" aria-controls="weekTwo">
                                Week 2
                            </a>
                        </h5>
                    </div>

                    <div id="weekTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="weekAccordion">
                        <div class="card-body">
                            <table class="table table-responsive">
                                <tbody>
                                    <tr>
                                        {% for i in dayNames %}
                                        <th>
                                            {{ i }}
                                        </th>
                                        {% endfor %}
                                    </tr>
                            		<tr>
                            			{% for j in daysInWeek2 %}
                            			<td class="border border-dark">
                                            <div align="right" style="font-size: 10px; font-weight: bold;">
                            				    {{ j }}
                                            </div>
                                            <table class="table">
                                                <tbody>
                                                    {% for l in bookingHours %}
                                                    <tr>
                                                        <td>
                                                            {{ l }}
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                            			</td>
                            			{% endfor %}
                            		</tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        	
        

        <!-- This code displays booking info
        <table class="table table-responsive table-striped">
        	<thead class="thead-inverse">
	        	<tr>
	        		<th>Booked By</th>
	        		<th>Band Name</th>
	        		<th>Time Slot</th>
	        		<th>Time Booked</th>
	        	</tr>
	        </thead>
	        <tbody>
	        	{% for field in output %}
	        	<tr>
	        		<td>
	        			{{ field.created_by }}
	        		</td>
	        		<td>
			        	{{ field.reserved_for }}
		        	</td>
		        	<td>
		        		{{ field.time_slot }}
		        	</td>
		        	<td>
		        		{{ field.creation_date }}
		        	</td>
		        </tr>
		        {% endfor %}
	    	</tbody>
        </table>
    	-->
    </div>
{% endblock %}