<hr class="mt-5">
<div class="row justify-content-end">
    <div class="col-md-8">
        <blockquote class="blockquote text-center"><p class="mb-0">Practising is the process of taking a task that seems
            difficult
            and doing it repeatedly, over days and weeks until you are able to do it well, and easily.</p>
            <footer class="blockquote-footer">Ron Ottley, Bonetti, Ruth., <cite title="Source Title">Now I Love
                Music
                Practice (Amadeus Press, 2003), p.29</cite></footer>
        </blockquote>
    </div>
    <div class="col-md-2 align-self-center text-right">
        <p></p>
        <a href="#" class="badge badge-secondary">Contact Us</a>
    </div>
</div>
