{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include "schedule/components/base_head.html" %}
    <title>{% block head_title %}{% endblock %} | MuSoc Web</title>
    {% include "schedule/components/bootstrap_head.html" %}
    {% block extra_head %}
    {% endblock %}
</head>

<body>
{% include "schedule/components/topnav.html" %}

<div class="container-fluid baseimg-pad mt-1">
    {% block body %}

        {#    <em>Important: Authentication via OAuth based providers will not work until you <a href="/admin/socialaccount/socialapp/">setup proper applicaton credentials</a>.</em>#}

        {% include "schedule/components/messages.html" %}

        {% block content %}
            <div class="container mb-5">
                <h1>{% trans 'Manage Account' %}</h1>

                <ul class="nav nav-tabs my-4">
                    <li class="nav-item">
                        <a class="nav-link {% block account_nav_profile %}{% endblock %}"
                           href="{% url 'profile' %}">{% trans 'Settings' %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block account_nav_email %}{% endblock %}"
                           href="{% url 'account_email' %}">{% trans 'E-mail Addresses' %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block account_nav_change_password %}{% endblock %}"
                           href="{% url 'account_change_password' %}">{% trans 'Change Password' %}</a>
                    </li>
                    {% url 'socialaccount_connections' as connections_url %}
                    {% if connections_url %}
                        <li class="nav-item">
                            <a class="nav-link {% block account_nav_socialaccount_connections %}{% endblock %}"
                               href="{{ connections_url }}">{% trans 'Connected Accounts' %}</a>
                        </li>
                    {% endif %}
                </ul>
                {% block account_content %}
                {% endblock %}
            </div>
        {% endblock %}

    {% endblock %}

    {% block extra_body %}
    {% endblock %}

    {% include "schedule/components/quote_block.html" %}

</div>

{% include "schedule/components/bootstrap_js_foot.html" %}

</body>
</html>
