{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Account Settings" %}{% endblock %}
{% block account_nav_profile %}active{% endblock %}

{% block account_content %}
    <div class="row">
        <div class="col-md-8 col-sm-10">
            <form method="POST" action="" class="profile_update">
                {% csrf_token %}
                {{ profile_update_form|crispy }}
                <div class="form-actions">
                    <button class="btn btn-primary btn-block" type="submit"
                            name="action">{% trans "Update Profile" %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}